body{
    font-family: 'Playfair Display', serif;
    margin:0;
    background-color: #EBEBEB;
}
section{
    box-sizing: border-box;
}
/* navber */
.navbar{
    position: relative;
    /* background-color: #EBEBEB; */
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.navbar .blog-icon{
    float: left;
    margin-top: 0.5%;
    font-size: 1.5em;
    letter-spacing: 1em;
}
.navbar .middle{
    text-align: center;
    width: 55%;
    font-size: 2em;
}
ul{
    list-style-type: none; 
    margin:0;
    padding: 0;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
} 

li a{
    margin-top: 1%;
    display: block;
    padding: 10px;
    color: #070707;
    float: right;
}
a{  
    text-decoration: none;
}

/* container */
.container{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.content{
    /* position: absolute; */
    text-align: center;
    margin-left: 6%;
    margin-top: 5%;
    width: 40%;
    display:inline-block;
    background-color: #ffffff;
    /* border: solid #464646 1px; */
}
.sect{
    position :relative;
    display: inline-block;
    background-color: #F1F1F1;
    width: 100%;
    height: 1100px;
    margin-top: 5%;
}
.detail{
    background-color: #ffffff;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}
.intro {
    background-color: #ffffff;
    width: 50%;
    float: right;
    height: 30%;
    margin-bottom:1px;
}
.message{
    text-align: center;
    padding: 20px 40px;
    letter-spacing: 2px;
    font-size: 20px;
}
.sect div.img-resize{
    position: absolute;
    width: 50%;
    height: 330px;
    margin:0;
    margin-bottom:1px;
}

.story{
    margin-left:auto;
    margin-right: auto;
    margin-top: 0%;
    text-align: center;
    display: block;
    background-color: #ffffff;
}   
.story p{
    margin:0;
    padding: 0;
    height: 3em;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
div.img-resize img{
    width: 100%;
    height: auto;
}
div.img-resize{
    /* width: 5em; */
    height:  300px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 1%;
}
.center{
    position: relative;
    overflow: hidden;
    margin: 0;
}

.mesCenter{
    position: absolute;
    text-align: center;
    left: 0;
    top: 25%;
    width: 100%;
    color: #ffffff;
    /* font-size: 45px; */
    font-size: 3.5em;
}
.mesBelow{
    top: 11em;
    font-size: 1.5em;
}
.top-center{
    position: absolute;
    top: 1%;
    width: 100%;
    text-align: center;
}

/* font */
h3{
    font-size: 1.5em;
    margin:0;
    letter-spacing:4px;
}
h1{
    font-size: 4em;
    margin:0; 
}
div .top-center .font-white h1{
    color:#464646;
}
/* footer */
footer{
    position: relative;
    width: 100%;
    height: 10%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 5%;
    bottom:0px;
    background-color: rgb(252, 249, 249);
    
}
.copyright{
    padding-top: 5px;
    color:#464646;
    margin-left: 10%;
}